@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.header {
  background-color: black;
  color: white;
  font-weight: 600;
  padding: 25px 100px;
}

main {
  margin: 50px 100px;
  width: 50%;
  float: left;
}

aside {
  width: 20%;
  margin-top: 50px;
  margin-left: 5%;
  float: left;
}

main .user {
  margin-bottom: 50px;
  background-color: #3e8fa0;
  padding: 20px;
}

main .icon-1 {
  float: right;

  color: #134b57;
  cursor: pointer;
  transform: scale(2);
}

main .icon-2 {
  float: right;
  color: #165664;
  cursor: pointer;
  transform: scale(2);
  margin-right: 25px;
}

main .icon-1:hover,
main .icon-2:hover {
  opacity: 0.5;
}

aside form input:not([type="checkbox"]),
aside form textarea,
aside form button {
  width: 90%;
  padding: 15px 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  border: 0;
  background: #222;
  color: #fff;
  outline: none;
  font-size: 15px;
}

aside form input[type="checkbox"] {
  margin: 10px;
}

aside form button {
  width: 100%;
  cursor: pointer;
  transition: transform 500ms ease;
}

aside form button:hover {
  transform: scale(1.1);
}
